<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!--section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,          log4net" /-->
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="target2" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="10000" batchSize="100" timeToSleepBetweenBatches="50">
        <target name="target1" xsi:type="File" fileName="LogFiles/logfile.log" layout="${longdate} [ ${threadid} ] ${callsite} | ${level} | ${message} " archiveFileName="uiLog/{##}.zip" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="30" openFileCacheTimeout="60" concurrentWrites="true" keepFileOpen="true" optimizeBufferReuse="true" enableArchiveFileCompression="true" encoding="iso-8859-2" />



      </target>

    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="target2" />
      <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>


  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="transfer_folder" value="C:\local_upload_files\" />
    <add key="ongoing_folder" value="C:\local_upload_files\ongoing\" />
    <add key="sent_folder" value="C:\local_upload_files\sent\" />
    <add key="sftp_server_folder" value="\incoming" />
    <add key="sftp_server_ip" value="192.168.200.33" />
    <add key="sftp_server_username" value="tester" />
    <add key="sftp_password" value="password" />
    <add key="sftp_port" value="22" />
  </appSettings>

  
</configuration>